*{ font-family: Raleway; background-color:beige;}

section{padding: 10px; background-color: beige;}

#menu{padding-top: 3%; font-size: large;}

div a{text-decoration: none; color: rgb(88, 61, 61);}

#menu :hover{color: black;}

div span{background-color: transparent;}

div.carousel-indicators{background-color: transparent;}

#historia{background-color: beige; padding-top: 5%;}

b{padding: 0%; padding-top: 1%; font-size: larger;}

p{font-size: large;}

h5{background-color: transparent;}

#info{align-items: center;}

form{align-self: auto; font-size: large;}

form button{margin-left: 2%;}

footer #pie{display: flex;justify-content: flex-end; }

footer #pie a:hover{color:black ;}

footer{border: 0ch;margin: 0%; padding: 0%;}

div.pie{border: 0ch;margin: 0%; padding: 0%;}

