* { font-family: Raleway;;
    background-image:url("assets/img/primer1.jpg")}

section {
  padding: 10px; background-color: beige;}

#menu {
  padding-top: 3%; font-size: large;}

div a {
  text-decoration: none; color: rgb(88, 61, 61);}

#menu :hover {
  color: black;}

#historia {
  background-color: beige; padding-top: 5%;}

b {
  padding: 0%; padding-top: 1%; font-size: larger;}

p {
  font-size: large;}

h5 {
  background-color: transparent;}

#info {
  align-items: center;}

form {
  align-self: auto; font-size: large;}

#pie {
  text-align: center;}

#hero {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image:url("/assets/img/slides/primer1.jpg");
    background-size: cover;
    position: relative;
    padding: 0;
    z-index: 2;}
  
  
#hero::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;}
  
#hero .container {
    padding-top: 110px;
}
  
@media (max-width: 992px) {
    #hero .container {
      padding-top: 98px;
    }}
  
#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;}
  
#hero h1 span {
    color: #cda45e;}
  
#hero h2 {
    color: #eee;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;}
  
  #hero .btns {
    margin-top: 30px;
  }
  
  #hero .btn-menu,
  #hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
  }
  
  #hero .btn-menu:hover,
  #hero .btn-book:hover {
    background: #cda45e;
    color: #fff;
  }
  
  #hero .btn-book {
    margin-left: 15px;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }

  
  @media (max-height: 500px) {
    #hero {
      height: auto;
    }
  
    #hero .container {
      padding-top: 130px;
      padding-bottom: 60px;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }


  #header {
    background: rgba(54, 51, 44, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    top: 0px;
  }
  
  header {position: sticky;top: 0;}

  #header.header-scrolled {
    top: 0;
    background: rgba(54, 51, 44, 0.6);
  }

  #header h1 a:hover {color: #9b855e;}

  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #d9ba85;
  }
  
  .menu #menu-flters {
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  
  .menu #menu-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 10px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #cda45e;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
  }
  
  .menu #menu-flters li:hover,
  .menu #menu-flters li.filter-active {
    color: #30291c;
  }
  
  .menu #menu-flters li:last-child {
    margin-right: 0;
  }
  
  .menu .menu-item {
    margin-top: 50px;
  }
  
  .menu .menu-img {
    width: 70px;
    border-radius: 50%;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
  
  .menu .menu-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .menu .menu-content::after {
    position: absolute;
    left: 20px;
    right: 0;
    top: -4px;
    z-index: 1;
    color: #bab3a6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .menu .menu-content a {
    padding-right: 10px;;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: #cda45e;
    transition: 0.3s;
  }
  
  .menu .menu-content a:hover {
    color: #cda45e;
  }
  
  .menu .menu-content span {
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
    color: #cda45e;
  }
  
  .menu .menu-ingredients {
    margin-left: 85px;
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #cda45e;
  }