*{ font-family: Raleway; background-color:beige; margin: 10px;}

.row{border: 0ch;margin: 0%; padding: 0%;}

section{border: 0ch;margin: 0%; padding: 0%;}

#menu{padding-top: 3%; }

div a{text-decoration: none; color: rgb(88, 61, 61);}

#menu :hover{color: black;}

b{padding: 0%; padding-top: 1%;}

p{font-size: small;}

.accordion{padding: 1%; margin: 0%;}

#info{align-items: center;}

form{align-self: auto; font-size: small;}

form button{margin-left: 2%;}

.pie{display: flex;justify-content: flex-end; }

.pie a:hover{color:black ;}

footer{border: 0ch;margin: 0%; padding: 0%;}

div.pie{border: 0ch;margin: 0%; padding: 0%;}

form{border: 0ch;margin: 0%; padding: 0%;}
