*{ font-family: Cambria; background-color:beige; margin: 10px;}

#inicio{display: flex; justify-content: space-around; font-size: large;}

#menu{padding-top: 4%;}

section{font-size: small;}

b{padding: 1%; padding-top: 1%;}

p{font-size: small;}

#info{align-items: center;}

form{align-self: auto;}